body {
    background-color:black !important; /* Color de fondo gris claro */
    font-family: 'Poppins', sans-serif;
  }
.pagina-servicios{
  background-image: url(../img/fondo.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  .navbar .nav-link:hover {
    color: #ffc107 !important;  /* Amarillo Bootstrap */
    transition: 0.3s;
  }
  
.contenido{
  justify-content: center;
  
}

.titulo{
font-size: 70px !important;
justify-content: center;
    }

.eslogan{
  font-size: 40px;
}

 .botones{
  justify-content: center !important;
  display: flex;
  
 }

.botonServis{
  justify-content: center !important;
  display: flex  !important;
}

.botones-servicio {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tarjeta {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

footer{
  border-radius: .5rem;
}

 @media screen and (max-width: 768px) {
    .titulo {
        font-size: 50px !important;
    }

    .eslogan{
        font-size: 25px;
    }
  
    .card-body{
        
        border-radius: 1rem;
    }
}